<%- include("partials/header") -%>
<body style="background: linear-gradient(to right, #2f663d, #095331, #024212)">
  <%- include("partials/navbar") -%>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11 col-12 mx-auto">
        <h1 style="color: #ffd700; margin-top: 3rem">About Us</h1>
        <div class="row">
          <div class="col-md-8 col-12" style="padding: 0 0">
            <div>
              <h1>Thanos</h1>
              <p class="bo">
                Thanos, one of Marvel Comics' most formidable villains,
                epitomizes the complex interplay between power, ambition, and
                morality. Born on the planet Titan, Thanos was consumed by a
                nihilistic obsession with death from an early age. His
                unparalleled strength, intellect, and cunning make him a force
                to be reckoned with in the Marvel Universe. Thanos's quest for
                ultimate power drives him to seek out the Infinity Stones,
                artifacts of unimaginable might that grant their wielder control
                over fundamental aspects of existence. His unwavering
                determination and willingness to commit unspeakable acts in
                pursuit of his goals underscore the depths of his ruthlessness.
                Yet, beneath his monstrous exterior lies a character haunted by
                inner turmoil, grappling with a sense of purpose and destiny
                that transcends mere conquest.
              </p>
              <p class="bo">
                In the Marvel Cinematic Universe (MCU), Thanos's portrayal as
                the primary antagonist in the Infinity Saga elevates him to the
                status of a mythic figure. His grand ambition to restore balance
                to the universe by wiping out half of all life reflects a
                twisted ideology rooted in misguided notions of order and
                salvation. However, his complex motivations and occasional
                displays of empathy add layers of depth to his character,
                challenging audiences to contemplate the blurred lines between
                heroism and villainy. Thanos's legacy reverberates across time
                and space, leaving an indelible mark on the fabric of the Marvel
                Universe and serving as a poignant reminder of the existential
                struggles that define the human condition.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <img
              class="boimg"
              src="images/thanos_images/thanos_img.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-12" style="padding: 0 0">
            <img class="boimg" src="images/blacko.jpg" alt="" />
          </div>
          <div class="col-md-8 col-12">
            <h1>Black Order</h1>
            <p class="bo">
              The Black Order, also known as the Children of Thanos, stands as a
              formidable cadre of warriors and loyalists to the Mad Titan,
              Thanos, in the Marvel Universe. Comprising characters like Ebony
              Maw, Proxima Midnight, Corvus Glaive, and Cull Obsidian, the Black
              Order serves as Thanos's elite strike force, executing his will
              with unwavering loyalty and ruthless efficiency. Each member
              possesses unique abilities and skills, making them a formidable
              collective force against any who dare oppose the Titan's will.
            </p>
            <p class="bo">
              Led by the enigmatic Ebony Maw, whose mastery of manipulation and
              persuasion rivals even the most skilled sorcerers, the Black Order
              operates with precision and cunning, carrying out Thanos's dark
              agenda across the cosmos. Proxima Midnight, a fierce and deadly
              warrior armed with a lethal spear, strikes fear into the hearts of
              her adversaries with her unparalleled combat prowess. Corvus
              Glaive, a cunning tactician and wielder of a deadly blade capable
              of piercing any defense, serves as the right-hand of Thanos,
              executing his master's will with unwavering devotion. Cull
              Obsidian, a hulking brute of immense strength and power, crushes
              all who stand in his path, embodying the unstoppable force of
              destruction at Thanos's command.
            </p>
            <p class="bo">
              Together, the Black Order represents the relentless pursuit of
              Thanos's vision of cosmic balance, embodying the darkness and
              chaos that lurk at the heart of the universe. Their unwavering
              loyalty and unyielding resolve make them formidable adversaries,
              striking fear into the hearts of heroes and villains alike as they
              carry out Thanos's will with ruthless efficiency and unwavering
              devotion.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-12">
            <div>
              <h1>About Us</h1>
              <p class="bo">
                A group of intrepid scientists embarked on a groundbreaking
                journey through space, fueled by an insatiable curiosity to
                explore the unknown. Venturing into the depths of the cosmos,
                they uncovered marvels beyond imagination, unraveling the
                mysteries of distant galaxies and celestial phenomena. However,
                their odyssey took an unexpected turn when they encountered
                Thanos, a formidable being of immense power. In a fateful
                meeting, the scientists struck a perilous deal with Thanos: he
                would wield his unparalleled ability to erase populations from
                existence, but only as dictated by the scientists' selection.
                Seizing upon this pact, the scientists devised a revolutionary
                solution: they created a website, a digital ledger where
                individuals could be registered for erasure upon Thanos' arrival
                on Earth. With this tool, they aimed to confront the ethical
                quandaries of choosing who should perish and who should endure,
                grappling with the weight of such tremendous responsibility.
              </p>
              <p class="bo">
                As the countdown to Thanos' arrival loomed closer, the website
                became a battleground of moral dilemmas and ethical debates,
                reflecting the complexities of humanity's darkest impulses and
                noblest aspirations. In a world teetering on the brink of
                oblivion, the scientists stood at the precipice of history,
                confronting the ultimate question of who deserves to survive in
                the face of cosmic upheaval. so the group of scientist joined
                their hands with our engineers to make this website donot lose
                your chance, you can make anyone disappear. the fate of this
                world is your hand so choose wisely. the people you register in
                this website are to be marked as to be erased so donot lose your
                chance this is your golden oppurtunity in free tier you will get
                to erase a single person.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <img class="boimg" src="images/about_us_tp.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include("partials/footer") -%>
</body>
