<%- include("partials/header") -%>
<body style="background: linear-gradient(to right, #224780, #391068, #222222);

">
  <%- include("partials/navbar") -%>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11 col-12 mx-auto">
        <h1 style="color: #FFD700; margin-top: 3rem;">Corvus Glaive</h1>
        <div class="row">
          <div class="col-md-8 col-12" style="padding: 0 0">
            <div>
              <p class="bo">
                Corvus Glaive, a central figure within the Black Order,
                epitomizes the embodiment of ruthlessness and cunning in the
                Marvel Comics universe. As a devoted servant of Thanos, he
                commands fear and respect through his unparalleled combat skills
                and strategic brilliance. His mastery of the deadly glaive, a
                weapon that can cut through almost anything and is virtually
                indestructible, makes him a formidable adversary on any
                battlefield. With each swing of his weapon, he leaves
                devastation in his wake, instilling terror in the hearts of both
                heroes and villains alike.
              </p>
              <p class="bo">
                While Corvus Glaive's origins remain shrouded in mystery, his
                rise to power within the ranks of Thanos' forces is a testament
                to his unparalleled prowess and unyielding determination. Rumors
                swirl of his dark deeds and shadowy past, adding to the mystique
                that surrounds him. Yet, regardless of his origins, his loyalty
                to Thanos is unwavering, serving as a driving force behind his
                relentless pursuit of conquest and domination.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <img class="boimg" src="images/Corvus_Glaive/g1.jpg" alt="" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-12 simg" style="padding: 0 0">
            <img class="boimg" src="images/Corvus_Glaive/g3.jpg" alt="" />
          </div>
          <div class="col-md-8 col-12">
            <p class="bo">
              Beyond his formidable combat skills, Corvus Glaive possesses a
              strategic mind that rivals even the most cunning tacticians in the
              Marvel Universe. He orchestrates battles like a grandmaster,
              foreseeing every move and countermove with precision. His ability
              to exploit weaknesses and manipulate situations to his advantage
              makes him a valuable asset to Thanos' cause, ensuring that his
              master's plans unfold with ruthless efficiency.
            </p>
            <p class="bo">
              Despite his undeniable strength and intellect, Corvus Glaive is
              not without his flaws. His unyielding loyalty to Thanos often
              blinds him to the potential consequences of his actions, leading
              him down a path of destruction and despair. His single-minded
              pursuit of power and conquest leaves little room for mercy or
              compassion, making him a truly formidable foe to any who stand in
              his way.
            </p>
            <p class="bo">
              In the ever-expanding tapestry of the Marvel Universe, Corvus
              Glaive stands as a dark and menacing figure, a harbinger of chaos
              and destruction. His presence looms large over the cosmos, casting
              a shadow that few dare to challenge. As long as Thanos' ambitions
              remain unchecked, Corvus Glaive will continue to serve as a
              relentless instrument of death and despair, carving a path of
              devastation in his wake.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include("partials/footer") -%>
</body>
