<%- include("partials/header") -%>
<body style="background: linear-gradient(45deg, #331100, #442200, #663300);
">
  <%- include("partials/navbar") -%>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11 col-12 mx-auto">
        <h1 style="color: #FFD700; margin-top: 3rem;">Cull Obsidian</h1>
        <div class="row">
          <div class="col-md-8 col-12" style="padding: 0 0">
            <div>
              <p class="bo">
                Cull Obsidian, also recognized as Black Dwarf, stands as a
                towering and fearsome figure within the ranks of the Black
                Order, a cadre of formidable warriors pledged to the service of
                the Mad Titan, Thanos, within the expansive Marvel Comics
                universe. Renowned for his immense strength, unparalleled
                durability, and unyielding loyalty, Cull Obsidian embodies the
                epitome of raw power and merciless aggression on the
                battlefield. Clad in formidable dark armor that serves as a
                testament to his indomitable nature, he wields a colossal hammer
                with which he crushes adversaries and lays waste to all who dare
                oppose the will of his master.
              </p>
              <p class="bo">
                Born amidst the shadows of an enigmatic world whose origins
                remain veiled in secrecy, Cull Obsidian emerges as a figure
                shrouded in mystery, his past obscured by the passage of time
                and the annals of cosmic history. Little is known of his origins
                or early upbringing, yet his unswerving devotion to Thanos and
                his insatiable thirst for chaos and destruction have carved a
                legend that reverberates across the cosmos. His towering
                stature, coupled with an aura of malevolence, instills dread in
                the hearts of those who dare to confront him in battle, for he
                is an embodiment of annihilation, a harbinger of doom.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <img class="boimg" src="images/cull_obs/c1.jpg" alt="" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-12 simg" style="padding: 0 0">
            <img class="boimg" src="images/cull_obs/c5.jpg" alt="" />
          </div>
          <div class="col-md-8 col-12">
            <p class="bo">
              In addition to his imposing physical presence, Cull Obsidian
              possesses a mastery of combat that rivals the most seasoned
              warriors in the universe. His proficiency in various forms of
              martial arts, coupled with his expertise in wielding his massive
              hammer as an instrument of devastation, renders him a formidable
              adversary on any battlefield. With each swing of his mighty
              weapon, he unleashes torrents of destruction, laying waste to all
              who stand in defiance of Thanos' grand design.
            </p>
            <p class="bo">
              As a member of the Black Order, Ebony Maw's allegiance to Thanos
              is unwavering, making him a key player in the grand cosmic
              narrative. His silver tongue and intellectual prowess become
              weapons of choice, allowing him to outmaneuver adversaries and sow
              discord with ease. Maw's ominous presence, accentuated by his
              gaunt features, adds an element of fear to his character, making
              him a memorable and iconic villain. In the Marvel Universe, Ebony
              Maw's legacy is marked by his role in Thanos's quest for dominance
              and the sheer intellectual brilliance that sets him apart from
              other formidable foes.
            </p>
            <p class="bo">
              Despite his unwavering allegiance to Thanos and his unrelenting
              pursuit of conquest, Cull Obsidian is not immune to the frailties
              that plague even the mightiest of beings. His blind devotion and
              single-minded pursuit of destruction often render him susceptible
              to manipulation by those who seek to exploit his formidable
              abilities for their own nefarious ends. Nevertheless, his sheer
              power and unbridled ferocity make him a force to be reckoned with,
              a juggernaut whose presence strikes fear into the hearts of heroes
              and villains alike, for he is the instrument of Thanos' will, the
              embodiment of cosmic chaos and eternal strife.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include("partials/footer") -%>
</body>
