<%- include("partials/header") -%>
<body>
  <%- include("partials/navbar") -%>
  <!-- body -->
  <div class="container-fluid main_intro">
    <div class="row">
      <div class="col-md-11 col-12 mx-auto">
        <div class="row">
          <div class="col-md-7 col-12 d-flex align-items-center">
            <div class="intro_con">
              <h1>Want To Vanish Someone</h1>
              <h2>Do not lose the chance</h2>
              <button type="button" class="btn btn-outline-light btn-lg">
                <a href="/eraser" style="text-decoration: none;color: inherit">Vanish</a>
              </button>
            </div>
          </div>
          <div class="col-md-5 col-12">
            <div>
              <img
                class="intro_img"
                src="images/thanos_images/goun.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- body ends -->
  <!-- something hahaha -->
  <section id="features">
    <div class="row">
      <div class="feature-box col-lg-4">
        <i class="fa-solid fa-egg fa-4x space"></i>
        <h3>Space Stone</h3>
        <p>
          Also known as the Tesseract, it allows control over space and
          teleportation.
        </p>
      </div>
      <div class="feature-box col-lg-4">
        <i class="fa-solid fa-egg fa-4x mind"></i>
        <h3>Mind Stone</h3>
        <p>
          Initially housed in Loki’s scepter, it grants mind control and
          enhances intelligence.
        </p>
      </div>
      <div class="feature-box col-lg-4">
        <i class="fa-solid fa-egg fa-4x reality"> </i>
        <h3>Reality Stone</h3>
        <p>Known as the Aether, it manipulates reality.</p>
      </div>
      <div class="feature-box col-lg-4">
        <i class="fa-solid fa-egg fa-4x power"> </i>
        <h3>Power Stone</h3>
        <p>
          Power Stone, capable of annihilating entire planets, represents
          destructive nature
        </p>
      </div>
      <div class="feature-box col-lg-4">
        <i class="fa-solid fa-egg fa-4x time"> </i>
        <h3>Time Stone</h3>
        <p>
          Time Stone, controlling time, allows manipulation of past, present,
          future
        </p>
      </div>
      <div class="feature-box col-lg-4">
        <i class="fa-solid fa-egg fa-4x soul"> </i>
        <h3>Soul Stone</h3>
        <p>Soul Stone, representing soul, can manipulate and restore souls</p>
      </div>
    </div>
  </section>
  <!-- something hahaha -->
  <!-- black order -->
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row bocr">
          <div class="col-md-8 col-12 bocr-plabel">
            <h1>Ebony Maw</h1>
            <p>
              Ebony, renowned for its deep black hue and dense texture, embodies
              enduring elegance cherished by artisans worldwide. With origins
              steeped in history, this wood symbolizes resilience and
              captivating allure. Whether carved intricately or fashioned into
              furnishings, ebony exudes sophistication, its timeless essence
              transcending eras. As craftsmen harness its beauty, ebony stands
              as a testament to nature's grace and human ingenuity, symbolizing
              strength, refinement, and the enduring legacy of fine
              craftsmanship.
            </p>
            <button type="button" class="btn btn-outline-light btn-lg">
              <a href="\ebony" style="text-decoration: none; color: inherit"
                >Ebony Maw</a
              >
            </button>
          </div>
          <div class="col-md-4 col-12 bocr-img">
            <img
              class="d-block w-100 ic"
              src="images/ebony_maw/e3.jpg"
              alt="First slide"
            />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row bocr">
          <div class="col-md-8 col-12 bocr-plabel ">
            <h1>Proxima Midnight</h1>
            <p>
              Proxima Midnight, an imposing figure within the Marvel Universe,
              embodies unyielding strength and unwavering loyalty as a prominent
              member of Thanos' Black Order. Armed with lethal combat prowess
              and a formidable spear, she strikes fear into the hearts of her
              foes. Proxima Midnight's allegiance to Thanos and her relentless
              pursuit of his goals make her a formidable adversary. Her
              strategic brilliance and unshakable resolve contribute to the
              chaos and conflict that define the Marvel cinematic landscape.
            </p>
            <button type="button" class="btn btn-outline-light btn-lg">
              <a href="\proxima" style="text-decoration: none; color: inherit"
                >Proxima Midnight</a
              >
            </button>
          </div>
          <div class="col-md-4 col-12 bocr-img">
            <img
              class="d-block w-100 ic"
              src="images/proxima_mid/p3.webp"
              alt="First slide"
            />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row bocr">
          <div class="col-md-8 col-12 bocr-plabel">
            <h1>Cull Obsidian</h1>
            <p>
              Cull Obsidian, a key member of Thanos’ Black Order in Marvel
              Comics, is renowned for his immense strength and unwavering
              loyalty. He is a formidable adversary in the Marvel Cinematic
              Universe, appearing in ‘Avengers: Infinity War’ and ‘Endgame’.
              Despite his brutish exterior, Cull Obsidian is a strategic
              warrior, showcasing the lengths Thanos’ followers are willing to
              go to fulfill their mission. His character adds depth to the
              narrative, making the storyline more engaging and complex.
            </p>
            <button type="button" class="btn btn-outline-light btn-lg">
              <a href="\cullobs" style="text-decoration: none; color: inherit"
                >Cull Obsidian</a
              >
            </button>
          </div>
          <div class="col-md-4 col-12 bocr-img">
            <img
              class="d-block w-100 ic"
              src="images/cull_obs/c4.webp"
              alt="First slide"
            />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row bocr">
          <div class="col-md-8 col-12 bocr-plabel">
            <h1>Corvus Glaive</h1>
            <p>
              Corvus Glaive, another member of Thanos’ Black Order in Marvel
              Comics, is known for his tactical mind and deadly Glaive, which
              grants him immortality as long as it remains intact. He is a
              significant adversary in “Avengers: Infinity War” and “Endgame”.
              Corvus Glaive’s character highlights the strategic aspect of
              Thanos’ followers, demonstrating their commitment to their
              mission. His presence adds intrigue to the narrative, contributing
              to the complexity of the storyline
            </p>
            <button type="button" class="btn btn-outline-light btn-lg">
              <a href="\corvus" style="text-decoration: none; color: inherit"
                >Corvus Glaive</a
              >
            </button>
          </div>
          <div class="col-md-4 col-12 bocr-img">
            <img
              class="d-block w-100 ic"
              src="images/Corvus_Glaive/g1.jpg"
              alt="First slide"
            />
          </div>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleControls"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleControls"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <%- include("partials/footer") -%>
</body>
