<%- include("partials/header") -%>
<body style="background: linear-gradient(to bottom, #ffffff, #f2f2f2);
">
  <%- include("partials/navbar") -%>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11 col-12 mx-auto">
        <div class="container pricing_cont">
            <div class="card-deck">
              <div class="card">
                <img class="card-img-top" style="height: 35rem; background: linear-gradient(to bottom, #ff7e5f, #e6d330);" >
                <div class="card-body">
                  <h1 class="card-title" style="color: black;">Free Plan</h1>
                  <h3 class="card-subtitle mb-2 text-muted">$0</h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Default Feature</li>
                    <li class="list-group-item">Vanish One Person</li>
                    <li class="list-group-item">Access to All Webpages</li>
                  </ul>
                  <a href="/undc" class="btn btn-primary">Choose Plan</a>
                </div>
              </div>
          
              <div class="card">
                <img class="card-img-top" style="height: 35rem; background: linear-gradient(to bottom, #52a572, #c03b2a);">
                <div class="card-body">
                  <h1 class="card-title" style="color: black;">Standard Plan</h1>
                  <h3 class="card-subtitle mb-2 text-muted">$20/month</h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Vanish Three People</li>
                    <li class="list-group-item">Get Notified When You Are Nominated</li>
                    <li class="list-group-item">Random Chance to Get Premium Plan</li>
                    <li class="list-group-item">Access to All Webpages</li>
                  </ul>
                  <a href="/undc" class="btn btn-primary">Choose Plan</a>
                </div>
              </div>
          
              <div class="card">
                <img class="card-img-top" style="height: 35rem; background: linear-gradient(to bottom, #0d5191, #36a303);">
                <div class="card-body">
                  <h1 class="card-title" style="color: black;">Premium Plan</h1>
                  <h3 class="card-subtitle mb-2 text-muted">$300/month</h3 >
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Vanish Five People</li>
                    <li class="list-group-item">Get Notified When You Are Nominated</li>
                    <li class="list-group-item">Get To Know The Person Nominated</li>
                    <li class="list-group-item">Golden Ticket To Not Get Vanished</li>
                    <li class="list-group-item">Access to All Webpages</li>
                  </ul>
                  <a href="/undc" class="btn btn-primary">Choose Plan</a>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>
    </div>
</div>
          <%- include("partials/footer") -%>
        
  
