<%- include("partials/header") -%>
<body style="background: linear-gradient(35deg,#aa0372, #660033, #550022);
">
  <%- include("partials/navbar") -%>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11 col-12 mx-auto">
        <h1 style="color: #FFD700; margin-top: 3rem;">Proxima Midnight</h1>
        <div class="row">
          <div class="col-md-8 col-12" style="padding: 0 0">
            <div>
              <p class="bo" >
                Proxima Midnight, a formidable member of the Black Order,
                emerges as a key figure within the intricate tapestry of the
                Marvel Comics universe. Serving the dark will of Thanos with
                unwavering loyalty, she embodies the essence of relentless
                determination and indomitable strength. Clad in shadowy armor
                and wielding a lethal spear infused with cosmic energy, Proxima
                Midnight strikes fear into the hearts of her adversaries, sowing
                chaos and despair with each calculated move.
              </p>
              <p class="bo">
                Born from the depths of obscurity on a world veiled in mystery,
                Proxima Midnight's origins remain shrouded in secrecy, obscured
                by the annals of cosmic history. Yet, her allegiance to Thanos
                stands as an unwavering testament to her unyielding dedication
                and steadfast commitment to his vision of universal domination.
                Her towering presence and formidable combat prowess make her a
                formidable force on the battlefield, capable of decimating
                entire armies with ruthless efficiency.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <img class="boimg" src="images/proxima_mid/p3.webp" alt="" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-12 simg" style="padding: 0 0">
            <img class="boimg" src="images/proxima_mid/p1.webp" alt="" />
          </div>
          <div class="col-md-8 col-12">
            <p class="bo">
              In addition to her prowess in combat, Proxima Midnight possesses a
              keen intellect and strategic acumen that rival the most cunning
              tacticians in the Marvel Universe. She orchestrates battles with
              precision, anticipating her opponents' every move and exploiting
              their weaknesses to devastating effect. Her mastery of strategy
              and manipulation make her a formidable adversary, capable of
              outwitting even the most seasoned of heroes.
            </p>
            <p class="bo">
              Despite her allegiance to Thanos and her unwavering pursuit of his
              dark ambitions, Proxima Midnight is not without her
              vulnerabilities. Her undying loyalty often blinds her to the
              complexities of the world around her, leaving her susceptible to
              manipulation and betrayal. Nevertheless, her sheer power and
              unyielding resolve make her a force to be reckoned with, a
              formidable warrior whose presence strikes fear into the hearts of
              all who oppose Thanos and his quest for ultimate power.
            </p>
            <p class="bo">
              As the Marvel Universe continues to unfold, Proxima Midnight
              remains a dark and enigmatic presence, a harbinger of destruction
              and despair. Her legacy is marked by her unwavering devotion to
              Thanos and her relentless pursuit of his dark agenda, cementing
              her status as one of the universe's most feared and formidable
              adversaries.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include("partials/footer") -%>
</body>
