<%- include("partials/header") -%>
<body>
  <%- include("partials/navbar") -%>
  <div class="col-md-11 col-12 mx-auto undercons">

      <h1>Page Under Construction</h1>
      <img src="images/cyborg-16.png" alt="">
  </div>
  <%- include("partials/footer") -%>
</body>
